<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Rezoomex Quick Assessment and Ranking System Automation">
    <listeners>
		<listener class-name="com.rqanrs.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
  
  <test name="TestSuite" preserve-order="true">
    <classes>
       <class name="com.rqanrs.qa.testcases.LoginPageTest"/>
      <class name="com.rqanrs.qa.testcases.ManageJobsTest"/>
      <class name="com.rqanrs.qa.testcases.OpenJobPageTest"/>
      <class name="com.rqanrs.qa.testcases.OpenJobToBeAnnotatedPageTest"/>
       <class name="com.rqanrs.qa.testcases.ManageResumesPageTest"/>
       <class name="com.rqanrs.qa.testcases.OpenResumePageTest"/>
        <class name="com.rqanrs.qa.testcases.OpenResumeModelHtmlPageTest"/>
         <class name="com.rqanrs.qa.testcases.DeletingCreatedTestDataTest"/>
       
      
      
      
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
